@font-face {
font-family: 'TF2Build';
src: url('tf2build-webfont.eot');
src: local('?'), url('tf2build-webfont.woff') format('woff'), url('tf2build-webfont.ttf') format('truetype'), url('tf2build-webfont.svg#webfontJYUt1qXz') format('svg');
font-weight: normal;
font-style: normal;
}
body{background:#2e2b2a;color:#ebe2ca;font-family:"TF2Build";}
#outercontainer{margin-left:auto;margin-right:auto;padding-top:16pt;width:728px;}
#innercontainer {background-position: right bottom;background-color: #414141;background-repeat: no-repeat;border-color: rgba(109, 96, 80, 180);border-style: solid;border-width: 1pt;}
#footer{bottom:1pt;font-family:sans-serif;font-size:10pt;position:fixed;right:1pt;}
a{color:#ebe2ca;text-decoration:none;}
a:hover{color:#b25216;}
#footer a{text-decoration:underline;}
#classbox{float:right;font-size:36pt;margin:16pt;text-align:right;}
h1{font-size:48pt;text-align:center;}
.Demoman{background:url('/images/class_demored.png');}
.Engineer{background:url('/images/class_engired.png');}
.Heavy{background:url('/images/class_heavyred.png');}
.Medic{background-image:url('/images/class_medicred.png');}
.Pyro{background:url('/images/class_pyrored.png');}
.Scout{background:url('/images/class_scoutred.png');}
.Sniper{background:url('/images/class_sniperred.png');}
.Soldier{background:url('/images/class_soldierred.png');}
.Spy{background:url('/images/class_spyred.png');}
img,.weaponname{vertical-align:middle;}